# Cluster
CLUSTERS="dr-lab-source dr-lab-restore"
KIND_CLUSTER_CONFIG=manifests/kind-cluster-config.yaml

# App
APP_NAMESPACE=mongodb
EXPECTED_DOCS=1000

# Terraform / AWS
AWS_REGION=eu-west-1
BUCKET_PREFIX=dr-backups
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Kasten
K10_VERSION=9.0.3